body {
    background-color: hsl(218, 23%, 16%);
}

main {
    width: 80vw;
    /* height: 400px; */
    padding: 0 1rem;
    background-color:  hsl(217, 19%, 24%);
    margin: 30% auto;
    border-radius: 15px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    
    margin-inline: auto;
    margin-top: 2rem;
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
    color: hsl(150, 100%, 66%);
    letter-spacing: 0.4ch;
    font-size: 0.8rem;
}

h1 {
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    color: hsl(193, 38%, 86%);
    margin: 1rem 0;
}

.spacer {
    margin-bottom: 4rem;
}

.icon {
    padding: 1rem;
    background-color: hsl(150, 100%, 66%);
    width: 10%;
    justify-self: center;
    align-self: center;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 10vw;
}


@media only screen and (min-width: 500px) {
    main {
        width: 40vw;
        height: 30vh;
        padding: 3rem;
        cursor: default;
    }
    body {
        height: 100vh;
    }
    h1 {
        margin-bottom: 3rem;
    }
    p {
        margin: 1rem auto;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5%;
    }
}